body {
    margin: 0px;
}
.bannerImg {

}
img {
    height: auto;
    width: 100%;
    vertical-align: middle;
    
    box-sizing: border-box;
}

.section-bar {
    background-color: rgb(0, 0, 0);
    color: blanchedalmond;

    font-size: 22px;

    height: 8vh;

    padding: 0px;
    min-height: 50px;

    z-index: 1;

    text-align: center;
}

.section-bar > * {
    margin: auto;
    width: 50%;

    padding: 2vh;
}   
#big-margin {
    margin: 84vh 0px 0px 0px;

    padding: 0px;
}


#banner-img {
    width: 100%;
    min-height: 400px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    object-fit: cover;
}
#banner-img {
    z-index: -1;
}


section {
    background-color: coral;
}